.robot-container {
    position: relative; 
    float: right;
    margin-top: 0px; 
    top: -30px;
  }
  

  #robot {
    position: relative; 
  }
  
  .robot-gif {
    width: 90px; 
    height: auto; 
  }
  