.section{
    margin-top: 50px;
}

.resume-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    margin-right: 50px;
}

.timeline {
    background-color: var(--primary-color);
    padding: 1.875rem;  
    position: relative;
    box-shadow: 0 5px 10px #4b87bf;
    border-radius: 0.4rem;
}

.timeline-item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.timeline-item:last-child{
    padding-bottom: 0;
}

.timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100px;
    left: .25rem;
    background-color: var(--solidColor);
    top: 0;
}

.timeline .fa-briefcase,
.timeline .fa-school {
    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: 22px;
    padding: 0.4375rem 0;
}

.timeline-date {
    color: #8b88b1;
    font-size: 17px;
}

.timeline-title {
    font-size: 20px;
    margin: 0.5rem 0;
}

.resume-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.timeline {
    background-color: var(--primary-color);
    padding: 1.875rem;
    position: relative;
    box-shadow: 0 5px 10px rgba(75, 135, 191, 0.5);
    border-radius: 0.4rem;
}

.timeline-item {
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 3.125rem;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

.timeline-item::before {
    content: '';
    width: 2px; 
    position: absolute;
    height: 100%;
    background-color: var(--solidColor);
    transform: translateX(-50%);
}

.timeline .fa-briefcase,
.timeline .fa-school {
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 22px;
    color: var(--primary-color);
    background-color: #fff;
    border-radius: 50%; 
    padding: 0.4375rem;
    transform: translateX(-50%); 
}

.timeline-date {
    color: #8b88b1;
    font-size: 17px;
}

.timeline-title {
    font-size: 20px;
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .resume-container {
        grid-template-columns: 1fr; 
        row-gap: 1.875rem;
        margin-right: 20px;
    }
}



