.page {
    margin-left: 20%;
    transition: margin-left 0.5s ease;
    @media (max-width: 1700px) {
        margin-left: 22%;
    }

    @media (max-width: 1500px) {
        margin-left: 25%;
    }

    @media (max-width: 1200px) {
        margin-left: 28%;
    }

    @media (max-width: 1000px) {
        margin-left: 30%;
    }

    @media (max-width: 900px) {
        margin-left: 18%;
    }

    @media (max-width: 700px) {
        margin-left: 17%;
    }
    @media (max-width: 500px) {
        margin-left: 5%;
    }
}
